*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #1A0B2E;
 
}
.btn{
    display: inline-flex;
    gap:5px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    cursor: pointer;
    vertical-align: middle;
}
.btn-invi:hover.stars {
      display: block;
      filter:drop-shadow(0 0 10px #fffdef);
}
.btn-invi{
    display: inline-flex;
    gap:8px;
    border-radius: 1000px;
    padding: 12px 25px;
    border: 2px solid #00FF88;
    color: #00FF88;
    background: transparent;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px 60px;
    align-items: center;
    background-color: #1A0B2E;
    height: 15vh;
}
.navbar h1{
    color: #FFFFFF;

}
.navbar h1 span{
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    background-clip: text;
    color: transparent;
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
}
.word {

    display: flex;
    font-size: 16px;
    gap: 32px;
}

#hero{

    /* linear-gradient(#001931), */
background-image: url(./assets/hero-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-bottom: 70px;
height: 700px;
position: relative;
}
.circle{
      position: relative;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
     width: 350px;
     height:350px;
     left:453px;
     top:71px;
     margin-bottom: 100px;
}


.circle img{
    width: auto;
    height: auto;
    margin-top: 95px;
}
.new-badge {
  position: absolute;
  top: 102px;
  left: 712px;

  background: #00FF88;
  color: #1A0B2E;

  font-size: 18px;
  font-weight: 600;

  padding: 8px 16px;
  border-radius: 1000px;
  z-index: 2;
}
.new-badge {
  animation: heartbeat 1.8s infinite;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  14% { transform: scale(1.15); }
  28% { transform: scale(1); }
  42% { transform: scale(1.12); }
  70% { transform: scale(1); }
}


.hero-section{

    text-align: center;
    justify-content: center;
    align-items: center;
}


.hero-section h1{
font-size: 60px;
color: #FFFFFF;
margin-bottom: 10px;

}
.hero-section p{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
    opacity: 70%;

}
#prodcast{
    text-align: center;
    /* width: 80%; */
    margin: 0 auto;
    background-color: #1A0B2E;
    margin-bottom: 120px;
}
.prodcast-about{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 130px;
}
.prodcast-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.prodcast-paragraph{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 70%;
}
#prodcast .number{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #FFFFFF;
 
}
#prodcast .number h2{
    font-size: 3rem;
    color: #00FF88;
}
#prodcast .number p{
    font-size: 1rem;
    line-height: 20px;
    opacity: 70%;
}
#techwave{
  
      /* text-align: center; */
  
    margin: 0 auto;
    background-color: #230E3D;
    padding-bottom: 120px;
}
#techwave h1{
      width: 80%;
    padding-top: 100px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
#techwave .facility>*{
    background-color: #351165;
    /* padding: 30px; */
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.facility{
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "one two two"
    "one three three"
    "four four five";
    
}

.one,.two,.three,.four,.five{
    padding: 30px;
    border-radius: 40px;
       display: flex;
    flex-direction: column;
    justify-content: center;
}
.facility img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.facility h4{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.facility p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}
#features{
    margin-bottom: 120px;
}
#features h1{
font-size: 3rem;
font-weight: bold;
color: #FFFFFF;
text-align: center;
margin-bottom: 40px;
}
.feature-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}
.feature-card {
    width: 400px;
    height: 500px;
    background-color: #250D44;
      border-radius:24px ;
    /* border-bottom-left-radius:24px ; */
}
.feature-content{
    padding: 24px;
  

}
.feature-card iframe {
    width: 100%;
    height:250px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}
.feature-card h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.feature-card p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    margin-bottom: 12px;
}
.feature-content span{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}
.feature-content img{
  vertical-align: middle;
  margin-right: 10px;
}
#host{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 120px;
}
#host h1{
font-size: 3rem;
font-weight: bold;
color: #FFFFFF;
text-align: center;
margin-bottom: 40px;
}
.host-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background-color:#250D44;
    padding: 40px;
    border-radius: 40px;
}
.host-content h2{
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.host-content p{
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 60%;
  margin-bottom: 16px;
}
.host-content img{
  width: 20px;
  height: 20px;
margin-left: 10px;
}
.footer-section{
    background: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 412px;
    text-align: center;
     display: flex;  
     flex-direction: column;   
     justify-content: center;    
     align-items: center;  
}
.footer-section h1{
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.footer-section h1 span{
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    background-clip: text;
    color: transparent;
}
.footer-section p{
  font-size: 16px;
  color: #FFFFFF;
  opacity: 60%;
  margin-bottom: 32px;
}
.last-word{
  font-size: 16px;
  line-height: 24px;
  color: #FAFAFA;
  opacity: 60%;
}

.social-tag{
    display: flex;
    justify-content: center;
    align-items: center;
   gap:50px;
}
.social{
    display: flex;
    /* margin-left: 20px; */
    gap:5px;
}
.social img{
    width: 24px;
    height: 24px;
}