*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #1A0B2E;
 
}
.btn{
    display: inline-flex;
    gap:5px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    cursor: pointer;
    vertical-align: middle;
}
.btn-invi:hover {
     background-color: #FAFAFA;
}
.btn-invi{
    display: inline-flex;
    gap:8px;
    border-radius: 1000px;
    padding: 12px 25px;
    border: 2px solid #00FF88;
    color: #00FF88;
    background: transparent;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px 60px;
    align-items: center;
    background-color: #1A0B2E;
    height: 12vh;
}
nav img{
    display: none;
}
.navbar h1{
    color: #FFFFFF;
    font-size: 2.5rem;
}
.navbar h1 span{
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    background-clip: text;
    color: transparent;
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
}
header hr{
    opacity: calc(0.2);
}

.word  {

    display: flex;
    font-size: 16px;
    gap: 32px;
}


#hero{

    /* linear-gradient(#001931),  */
background-image: url(./assets/hero-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-bottom: 70px;
height: 700px;
position: relative;
}
/* .circle{
      position: relative;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
     width: auto;
     height:300px;
     left:453px;
     top:71px;
      margin-bottom: 100px; 
} */


/* .circle img{
    width: auto;
    height: auto;
    margin-top: 95px;
} */

.hero-logo {
  position: relative;
  margin-bottom: 40px;
}

.circle {
  margin-top: 30px;
  width: 350px;
  height: 350px;
  background-image: url(./assets/hero-circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  max-width: 120px;
}

.new-badge {
  position: absolute;
  top: 40px;
  right: 20px;

  background: #00FF88;
  color: #1A0B2E;

  font-size: 18px;
  font-weight: 600;

  padding: 8px 16px;
  border-radius: 1000px;
  z-index: 2;
}
              
               /* animation */
               
.circle {
  box-shadow: 0 0 0 rgba(255, 78, 205, 0.6);
  border-radius: 50%;
  animation: glow 2s infinite;
}

    /* box shadow 0 0 40px(no left-right, up-down shift) and 40px will spread surrounding the circle and rgb color with opacity */
      /* 0% start,50% middle,100% end */
@keyframes glow {
  0%   { box-shadow: 0 0 0 rgba(255, 78, 205, 0.4); }
  50%  { box-shadow: 0 0 40px rgba(255, 78, 205, 0.9); }
  100% { box-shadow: 0 0 0 rgba(255, 78, 205, 0.4); }
}

.new-badge {
  animation: heartbeat 1.8s infinite;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  14% { transform: scale(1.15); }
  28% { transform: scale(1); }
  42% { transform: scale(1.12); }
  70% { transform: scale(1); }
}


.hero-section{
     display: flex;
     flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}


.hero-section h1{
font-size: 60px;
color: #FFFFFF;
margin-bottom: 10px;

}
.hero-section p{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
    opacity: 70%;

}
#prodcast{
    text-align: center;
    /* width: 80%; */
    margin: 0 auto;
    background-color: #1A0B2E;
    margin-bottom: 120px;
}
.prodcast-about{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 75px;
}
.prodcast-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.prodcast-paragraph{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 70%;
}
#prodcast hr{
    width: 85%;
    margin: 0 auto;
    opacity: calc(0.2);
      margin-bottom: 75px;
}
#prodcast .number{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #FFFFFF;
 
}
#prodcast .number h2{
    font-size: 3rem;
    color: #00FF88;
}
#prodcast .number p{
    font-size: 1rem;
    line-height: 20px;
    opacity: 70%;
}
#techwave{
  
      /* text-align: center; */
  
    margin: 0 auto;
    background-color: #230E3D;
    padding-bottom: 120px;
}
#techwave h1{
    width: 80%;
    padding-top: 100px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
#techwave .facility>*{
    background-color: #351165;
    /* padding: 30px; */
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.facility{
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "one two two"
    "one three three"
    "four four five";
    
}

.one,.two,.three,.four,.five{
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.facility img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.facility h4{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.facility p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}
#features{
    margin-top: 120px;
    margin-bottom: 120px;
}
#features h1{
font-size: 3rem;
font-weight: bold;
color: #FFFFFF;
text-align: center;
margin-bottom: 60px;
}
.feature-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}
.feature-card {
    max-width: 400px;
    height: 500px;
    background-color: #250D44;
      border-radius:24px ;
    /* border-bottom-left-radius:24px ; */
}
.feature-content{
    padding: 24px;
  

}



.feature-card iframe {
    width: 100%;
    height:250px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border: none;
}
.feature-card h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.feature-card p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    margin-bottom: 12px;
}
.feature-content span{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}
.feature-content img{
  vertical-align: middle;
  margin-right: 10px;
  
}
#host{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 120px;
}
#host h1{
font-size: 3rem;
font-weight: bold;
color: #FFFFFF;
text-align: center;
margin-bottom: 40px;
}
.host-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background-color:#250D44;
    padding: 40px;
    border-radius: 40px;
}
.host-content h2{
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.host-content p{
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 60%;
  margin-bottom: 16px;
}
 .host-icon{
    display: flex;
    align-items: center;
    
 }
.host-icon .avatar{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20px;
   height: 20px; 
   margin-left: 10px;
   border: 1px solid white;
   padding: 20px;
   border-radius: 50%;

}
.footer-section{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center ;
     /* padding: 80px 20px 40px; */
    height: 412px;
    text-align: center;
     display: flex;  
     flex-direction: column;   
     justify-content: center;    
     align-items: center;  
}
.footer-section h1{
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 55px;
}
.footer-section h1 span{
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    background-clip: text;
    color: transparent;
}
.footer-section p{
  font-size: 16px;
  color: #FFFFFF;
  opacity: 60%;
  margin-bottom: 32px;
}
.last-word{
    
  font-size: 16px;
  line-height: 24px;
  color: #FAFAFA;
  opacity: 60%;
}

.social-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
  
}
.social{
    display: flex;
    /* margin-left: 20px; */
    gap:5px;
}
.social img{
    width: 24px;
    height: 24px;
}




           /* Responsive  */


           /* mobile device */

@media screen and (max-width:576px){
.word {
    display: none;
}
.navbar button{
    display: none;
}
nav img{
    display: block;
}
#hero{

    /* linear-gradient(#001931),  */
background-image: url(./assets/hero-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-bottom: 100px;
height: auto;
position: relative;
}

.circle {
    width: 220px;
    height: 220px;
  }

  .circle img {
    width: 90px;
  }
  .new-badge {
    padding:5px 10px ;
  }
  #prodcast .number{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
#techwave h1{
    font-size: 2rem;
}
.facility{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.one,.two,.three,.four,.five{
    max-width: 400px;
    border-radius: 20px;
    margin: 0 auto;
    
}

.feature-container{
    display: flex;
    flex-direction: column;
}

#features h1{
    font-size: 2rem;
    text-align: center;
}
#host{
    text-align: center;
}
.host-icon{
    justify-content: center;
    
}
.host-container{
    flex-direction: column;
}

.social-tag{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    justify-items: center;
    margin-bottom: 20px;
}

.footer-section{
   background-size: 180%;
    background-position: center bottom;
    max-width: 100%;
    height:200px;
  

}
.footer-section h1{
    font-size: 2.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer-section p{
    font-size: 12px;
    margin-bottom: 10px;
}
.social img{
    width: 16px;
    height: 16px;
}
.social-tag{
    gap:20px;
    margin-bottom: 10px;
}
}

         

