*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #1A0B2E;
 
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px 60px;
    align-items: center;
    background-color: #1A0B2E;
    height: 15vh;
}
.navbar h2{
    color: #FFFFFF;
}
.navbar h2 span{
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
}
.word {

    display: flex;
    font-size: 16px;
    gap: 32px;
}
#hero{

    /* linear-gradient(#001931), */
background: url(./assets/hero-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin-bottom: 70px;
height: 95vh;

}
.hero-section .circle{
background-image: url(./assets/hero-circle.png);
background-repeat: no-repeat;
background-position: center;


}  
.hero-section{

    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero-section .circle img{
  
    width: 120px;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 70px;
    margin-top: 110px;

}
.hero-section h1{
font-size: 60px;
color: #FFFFFF;
margin-bottom: 10px;
}
.hero-section p{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
    opacity: 70%;

}
#prodcast{
    text-align: center;
    /* width: 80%; */
    margin: 0 auto;
    background-color: #1A0B2E;
    margin-bottom: 120px;
}
.prodcast-about{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 130px;
}
.prodcast-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.prodcast-paragraph{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 70%;
}
#prodcast .number{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #FFFFFF;
 
}
#prodcast .number h2{
    font-size: 3rem;
    color: #00FF88;
}
#prodcast .number p{
    font-size: 1rem;
    line-height: 20px;
    opacity: 70%;
}
#techwave{
  
      /* text-align: center; */
  
    margin: 0 auto;
    background-color: #230E3D;
    padding-bottom: 120px;
}
#techwave h1{
      width: 80%;
    padding-top: 100px;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
#techwave .facility>*{
    background-color: #351165;
    /* padding: 30px; */
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.facility{
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "one two two"
    "one three three"
    "four four five";
    
}

.one,.two,.three,.four,.five{
    padding: 30px;
    border-radius: 40px;
       display: flex;
    flex-direction: column;
    justify-content: center;
}
.facility img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.facility h4{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.facility p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}
#features{
    margin-bottom: 120px;
}
#features h1{
font-size: 3rem;
font-weight: bold;
color: #FFFFFF;
text-align: center;
margin-bottom: 40px;
}
.feature-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}
.feature-card {
    width: 400px;
    height: 500px;
    background-color: #250D44;
      border-radius:24px ;
    /* border-bottom-left-radius:24px ; */
}
.feature-content{
    padding: 24px;
  

}
.feature-card iframe {
    width: 100%;
    height:250px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}
.feature-card h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.feature-card p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    margin-bottom: 12px;
}
.feature-content span{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
}
.feature-content img{
  vertical-align: middle;
  margin-right: 10px;
}
